---
layout: list
section: offices
permalink: oficinas-sl/
title: Oficinas de Software Libre en las Universidades
---

    <h1 class="main-header display-4"><strong>Oficinas de Software Libre en las Universidades</strong></h1>
  </div>
</div>
<hr class="my-4">

Aquí puedes encontrar listadas las páginas con información de las siguientes oficinas de software
libre pertenencientes a alguna universidad:<br><br>

<ul id="list">
  {% for org in site.pages %}
  {% if org.path contains 'oficinas-sl' and org.path contains '.md' and org.section == 'offices' %}
  {% unless org.path contains 'oficinas-sl.md' %}
  <li><a href="/{{ org.path | remove_first: ".md" }}">{{ org.title }}</a></li>
  {% endunless %}
  {% endif %}
  {% endfor %}
</ul><br>

Si conoces alguna que no aparece aquí puedes añadirla directamente
<a href="https://gitlab.com/eslibre/listados/-/blob/master/oficinas-sl/README.md" target="_blank">aquí</a>,
pero si puedes, te agradeceríamos que añadieras su página de información en
<a href="https://gitlab.com/eslibre/listados/-/tree/master/oficinas-sl" target="_blank">este repositorio</a>
usando <a href="https://gitlab.com/eslibre/listados/-/blob/master/plantillas/oficinas-sl.md" target="_blank">
  esta plantilla</a>.<br><br>

También puedes escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a> si tienes cualquier duda.<br><br>
